/* Global Styles */
body {
    font-family: 'Oswald', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

/* Hero Section */
.hero-section {
    position: relative;
}

.hero-section img {
    height: 60vh;
    object-fit: cover;
    width: 100%;
}

.hero-section div {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
}

/* Contact Form */
.contact-form {
    background-color: white;
    padding: 40px;
    border-radius: 8px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    margin: 40px auto;
    max-width: 800px;
}

.contact-form h2 {
    color: #2D5C4B;
    font-weight: bold;
}

.contact-form input,
.contact-form textarea {
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 10px;
    width: 100%;
}

.contact-form button {
    background-color: #2D5C4B;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    transition: background-color 0.3s;
}

.contact-form button:hover {
    background-color: #77dd77;
}
